.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
 display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#play_button ,#status{
    font-size: 22px;
}
h4{
    background-color: white;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 70%;
}
.instruction{
    display: inline-block;
    width: 45%;
}
.modal-body{
    text-align: left;
    font-size: 20px;

}
canvas{
    border: 3px solid rgb(80, 79, 79);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(80, 79, 79);
}